@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--black);
}

a {
  text-decoration: none;
}

:root {
  --aquamarine: #66e2dc;
  --red: #fa7453;
  --kaki: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -1px;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
  line-height: 52px;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  line-height: 34px;
}

.container {
  width: 100%;
  background-image: url("assets/bg-main-mobile.png");
  background-size: 281px 480px;
  background-repeat: no-repeat;
  background-position: 159px -104px;
}

.header__bg-pattern {
  display: none;
}

.logo {
  padding-top: 40px;
  margin-left: 24px;
}

.info__title {
  margin-top: 64px;
  margin-left: 24px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.454545px;
}

.info__description {
  margin: 20px 24px 0 24px;
  font-size: 16px;
  line-height: 26px;
}

.main {
  width: 100%;
  height: 600px;
  background-color: var(--black);
  border-radius: 12px;
  position: relative;
  margin-top: 166px;
  margin-bottom: 440px;
  text-align: center;
}

.main img {
  width: 208px;
  position: absolute;
  top: -98px;
  left: 50%;
  transform: translateX(-50%);
}

.main__bg-pattern {
  width: 280px;
  height: 420px;
}

.cta-card {
  width: 100%;
  height: 586px;
  padding: 48px 37px;
  border-radius: 12px;
  background-color: var(--red);
  position: absolute;
  top: 380px;
  text-align: left;
}

.cta-card__title {
  margin-bottom: 12px;
  color: var(--white);
}

.cta-card__description {
  margin-bottom: 36px;
  color: var(--white);
}

.cta-card__price {
  margin-bottom: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
}

.cta-card__price span {
  font-weight: bold;
  font-size: 65px;
  line-height: 52px;
  color: var(--white);
  margin-right: 16px;
}

.cta-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-card__link {
  display: flex;
  width: 100%;
  height: 61px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.cta-card__link svg {
  margin-right: 8px;
}

.cta-card__link--apple {
  background-color: var(--black);
  color: var(--white);
  margin-bottom: 16px;
}

.cta-card__link--apple:hover {
  background-color: var(--aquamarine);
}

.cta-card__link--android {
  background-color: var(--white);
  color: var(--black);
}

.cta-card__link--android:hover {
  background-color: var(--kaki);
}

.footer {
  margin: 0 24px 80px;
}

.footer__logo {
  margin-bottom: 32px;
}

.footer__copyright {
  margin-bottom: 64px;
}

.footer__copyright span {
  font-weight: 700;
}

.footer__socials svg {
  margin-right: 20px;
}

.footer__socials svg:hover {
  cursor: pointer;
}

.socials__facebook:hover > .socials__facebook--path,
.socials__instagram:hover > .socials__instagram--path,
.socials__twitter:hover > .socials__twitter--path {
  fill: var(--red);
}

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .container {
    padding: 0 33px;
  }

  .header__bg-pattern {
    display: initial;
    position: absolute;
    top: -32px;
    right: -35px;
    width: 266px;
    height: 400px;
  }

  .logo {
    padding-top: 61px;
    margin: 0;
  }

  .info {
    width: 512px;
    margin: 0;
  }

  .info__title {
    margin-top: 95px;
    margin-left: 0;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.727273px;
  }

  .info__description {
    margin: 28px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }
}
